<% this.title = '导入成功' %>
<% include header %>

<div class="ui success icon message">
  <i class="folder icon"></i>
  <div class="content">
    <div class="header" style="margin-bottom: 10px; ">
      操作成功！
    </div>
    <p>
      <a href="javascript:history.go(-1)">返回上一页</a>
    </p>
  </div>
</div>


<% include footer %>
